<div class="splash-logo">
    <div>
        <span id="logo-class">class</span><span id="logo-mate">mate</span><br/>
        <span class="loading-text">Sorry! There's an error while processing.</span>
    </div>
</div>
{{outlet}}