<div class="splash-logo">
    <div>
    <span id="logo-class">class</span><span id="logo-mate">mate</span><br/>
    <span class="loading-text">{{loadingText}}</span>
        <div class="spinner login-spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</div>
{{outlet}}